<div class="posts list-group">
  {{#each blogPosts}}
    <a class="" href="/dashboard/edit/{{id}}">
     <div class="card-body"> 
      <h2>{{title}}</h2>
      <p>{{format_date createdAt}}</p>
      </div>
    </a>
  {{/each}}
</div>
